Dataset contains earthquakes occuring in Egypt's RedSea, fron 1955 to 2024

In [1]:
import pandas as pd

In [2]:
#Importing dataset and taking a quick look:
df = pd.read_csv(r"C:\Users\NohaKhaled\Desktop\DataAnalysis\Projects\Egypt RedSea Earthquake\archive\Egypt-RedSea Earthquake Dataset (1955-2024) V2.csv")
df.head(10)

,time,latitude,longitude,depth,mag_Mw,rms,days_since_last_event,events_last_30_days,events_last_90_days,avg_mag_last_30_days,avg_mag_last_90_days,max_mag_last_30_days,max_mag_last_90_days,distance_from_cairo_km,mag_category_3classes
0,1955-11-12 05:32:18.020000+00:00,25.119,34.506,15.0,5.730,0.89,0,1,1,5.730000,5.730000,5.73,5.73,635.386813,2
1,1956-12-18 17:53:06.180000+00:00,31.522,35.487,15.0,5.670,0.89,402,2,2,5.700000,5.700000,5.73,5.73,438.053224,2
2,1969-03-31 07:15:52.940000+00:00,27.575,33.895,10.0,6.600,0.89,4485,3,3,6.000000,6.000000,6.60,6.60,377.501197,2
3,1969-04-14 13:43:56.580000+00:00,27.343,33.665,15.0,5.190,0.89,14,4,4,5.797500,5.797500,6.60,6.60,382.563572,2
4,1972-06-28 09:49:36.850000+00:00,27.643,33.815,15.0,5.600,0.89,1170,5,5,5.758000,5.758000,6.60,6.60,366.598949,2
5,1973-03-05 23:59:46.600000+00:00,27.686,33.644,25.0,4.855,0.89,250,6,6,5.548333,5.548333,6.60,6.60,351.786522,1
6,1974-04-29 20:04:39.700000+00:00,30.529,31.721,33.0,5.195,0.89,419,7,7,5.455714,5.455714,6.60,6.60,71.238408,2
7,1978-12-09 07:12:52.400000+00:00,23.951,26.353,10.0,5.535,0.89,1684,8,8,5.436250,5.436250,6.60,6.60,832.278883,2
8,1979-04-23 13:01:58.600000+00:00,31.244,35.461,33.0,5.365,0.89,135,9,9,5.398889,5.398889,6.60,6.60,425.622620,2
9,1981-11-14 09:05:29.010000+00:00,23.686,32.604,10.0,5.621,1.20,935,10,10,5.389000,5.389000,6.60,6.60,719.908341,2

#Goal of this project:

#1. Find the year with the most earthquakes, and the data for those earthquakes

#2. Find the 10 strongest earthquakes, and attempt to convert their coordinates into named locations